@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(0.96);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.pulse {
	animation: my-pulse 1.2s infinite;
}
